.bm-burger-button {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 40px;
  height: 40px;
}

.bm-burger-bars {
  background: white;
}

.bm-burger-bars-hover {
  background: white;
}

.bm-cross-button {
  height: 30px;
  width: 30px;
  position: relative;
  left: 250px;
}

.bm-cross {
  background: white;
}

.bm-menu-wrap {
  position: fixed;
  min-height: 100%;
}

.bm-menu {
  background-color: white;
  width: 95%;
  height: 100%;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bm-menu::-webkit-scrollbar {
  display: none;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-item,
a {
  display: inline-block;
  text-decoration: none;
  color: red;
  padding: 15px;
  font-size: 18px;
}

.bm-item:hover,
a:hover {
  color: white;
  background-color: #f65454;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.wildLogoBurger {
  height: 3rem;
}
